.lead {
    margin-bottom: 0px;
}
.col-footer {
    display: flex;
    align-items: center;
}

.fab {
    padding-right: 15px;
}

.social {
    justify-content: flex-end;
    text-align: end;
    margin-top: auto;
    margin-bottom: auto;
}