.motorInput{

padding-right: 6%;

}

.motorInput1{

padding: 2%;
width: 100%;


}

.containerForm{

margin-top: 6%;
margin-left: 6%; 
margin-bottom: 6%;

}
.tittle{

align-content: left;
color:gray;
margin-left: 10%; 
padding: 2%;

}

.chartNew{

    width: 100%;
    height: 100%;
    // background-color: #4d4646;
    // color: #e1f2fb;

    

}
.inputNew{
    padding: 4%;
}

.cardTest{

width: 25%;
margin-left: 2%;

}

.table{

margin-left:  4%;
width: 70%;

}

.inputColor{

    background-color:  #e9ecef;

}

.inputScan{

    width: 30%;
    margin-bottom: 4%;
}
.formStyle{

    
}

.BAD{

    color: red;
    font-style: italic;
}

.GOOD{

    color: green;
    font-style: italic;
}

.simulate{

width: 25%;
color: gray;
margin-left: 10%;
margin-bottom: 2%;

}