.btn-secondary {
    background-color: #343A40;
    border-color: #343A40;
}

.fa-user {
    color: #5ED837;
}

.dropdown-toggle {
    color: #5ED837;
}

.dropdown-toggle::after {
    color: #5ED837;
}
.idName{
    color: white;
}